*{
	margin: 0px;
	padding: 0px;
}

body{
    background-image: url("../img/clouds.jpg");
	background-position: 50% 70%;
	color: black;
	font-family: arial;
}

div#total{

    text-align: center;
}

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    right: 15px;
    z-index: 999;
    overflow: hidden;

    line-height: 3em;
}

div.message:before {
    line-height: 13px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}
div#centro{
    align-items: center;
    display: flex;
    justify-content: center;
}


.styled-form input{
	display: block;
	height: 55px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border:1px solid black;
	font-size: 16pt;
	padding: 10px 20px;
    align-items: center;
    justify-content: center;
}
.input-label{
	display: block;
	width: 100px;
	height: 25px;
	text-align: center;
}

 form {
 	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
 }

div#corpo-form{
	width: 420px;
	margin: 150px auto 0px auto;

}

div#corpo-form h1{
	text-align: center;
	padding: 20px;
}

a{
	color: black;
	text-decoration: none;
	text-align: center;
	display: block;
}

a:hover{
	text-decoration: underline;
}